
form {
  text-align: center;
}

form h3 {
  margin-top: 20px;
}

form label {
  white-space: nowrap;
}

form>:not(h3) {
  display: inline-block;
  margin: 8px;
}

table {
  width: 100%;

}

tr:not(:hover) span {
  visibility: hidden;
}
